.cart {
  height :30px; width :auto;
  padding-left: 20px;
}
.companyName {
color : rgb(252, 25, 0);
font-size: 50px;
} 
.header {
  align-content: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerRight{
  align-content: center;
}
.navlinksContainer{
  text-align: center;
  padding: 10px;
}
.navlinksContainer a{
  padding-right: 20px;
  color: rgb(252, 25, 0);
  text-decoration: none;
}
.navbar{
  padding-right: 500px;
  padding-top: 10px;
}
.middle{
  text-align: center;
}

.picsContainer img {
  height: 650px;
  width: auto;
  float: left;
}

.picsContainer {
  display: flex;
  justify-content: center;
}

.title {
  position: absolute;
  margin-top: 200px;
  font-size: xx-large;
}

.names {
  margin-left: 70px;
}

em {
  color: rgb(252, 25, 0);
}



/* CARD CSS */

.scene {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  perspective: 800px;

  .card {
    position: relative;
    width: 240px;
    height: 300px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
  
    &:hover {
      transform: rotateY(0.5turn);
    }
  

    .card__face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: 1s ease-in-out;
      -webkit-box-reflect: below 0
        linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));

      img {
        width: 240px;
        height: 300px;
        object-fit: cover;
      }

      &--back {
        transform: rotateY(0.5turn);
      }
    }
  }
}